<html>
  <head>
    <script src='https://cdn.tryretool.com/embed.js'> </script>
  </head>
  <body>
    <div style='height: 800px; width: 100%;' id='container'></div>
    <p id='appsession'><%=appSession%></p>

    <script>
      const rt = window.retool.RetoolDashboard(document.getElementById('container'), 'https://dustinlin.retool.com/embedded/public/7db74c53-0712-42c9-a86d-37744f2de7cc')
    </script>
  </body>
</html>